
$offwhite: #f6f6f6;
$buttonWidth: 8vw;
$buttonHeight: 32px;
$svgSize: 16px;

.editr {
    border: 1px solid darken($offwhite, 7.5%);
    width: 100%;
}
    
.editr pre[class*="language-"] {
    margin: 0px;
}
    

.editr--toolbar {
    background: $offwhite;
    border-bottom: 1px solid darken($offwhite, 7.5%);
    position: relative;
    display: flex;
    height: $buttonHeight;

    a {
        display: inline-block;
        width: $buttonWidth;
        max-width: 32px;
        height: $buttonHeight;
        color: #333;
        fill: #333;
        cursor: pointer;
        text-align: center;
        line-height: 1;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
            

        &:active {
            background: rgba(0, 0, 0, 0.2);
        }
            
        svg {
            width: $svgSize;
            height: $svgSize;
            margin: (($buttonHeight - $svgSize)/2) auto;

            path {
                fill: inherit;
            }  
        }
            

        &.vw-btn-separator {
            width: 1px;
            margin: 0 8px;

            &:hover {
                background: initial;
                cursor: default;
            }
                

            i.vw-separator {
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                height: 100%;
                position: absolute;
                width: 1px;
            }
                
        }
            
    }
        

    .dashboard {
        width: 100%;
        position: absolute;
        top: 32px;
        left: 0;
        text-align: left;
        padding: 8px 16px;
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid $offwhite;
    }
        
}
    



.editr--content {
    min-height: 150px;
    padding: 12px 8px 16px 8px;
    line-height: 1.33;
    font-family: inherit;
    color: inherit;
    overflow-y: auto;

    &[contenteditable=true]:empty:before {
        content: attr(placeholder);
        color: rgba(0, 0, 0, 0.3);
        display: block; /* For Firefox */
    }
        

    img {
        max-width: 100%;
    }
        

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            text-align: left;
        }
            

        th, td {
            border: 1px solid #dddddd;
            padding: 2px;
        }     
    }
        


    &:focus {
        outline: 0;
    }
        

    ul, ol {
        li {
            list-style-position: inside;
        }   
    }
        
}
    

@media screen and (max-width: 320px) {
    .editr--toolbar {
        a {
            margin: 0 2px;
        }
            
        a.vw-btn-separator {
            display: none;
        }   
    }
}
    
        

.lb-vue-wysiwyg-form {

    display: flex;
    align-content: flex-end;

    div {
        margin-right: 1rem;
    }
}
    